<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>
<form action="/renamed-cat" method="post">
  <input type="text" name="name">
  <input type="submit" value="submit">
</form>
<div style='border:3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
  </div>
